default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: 
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: hero_dev

test:
  <<: *default
  database: hero_test


production:
  <<: *default
  database: hero_production